# compilation and distribution
__pycache__
_ext
*.pyc
*.so

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea
.vscode
/backup
/data/Chinese
/data/*.zip
/data/*.py
/weights/*.h5
/weights/e2e-mlt.h5

